{% extends "admin/templates/base.html" %}
{% block content %}
<body class = "signin-body">
    <form class="form-signin" action="/admin-login" method = "post">
      <h1 class="h3 mb-3 font-weight-normal">Admin Homepage</h1>
      <label for="inputUser" class="sr-only">Username</label>
      <input type="text" id="inputUser" name="user"  class="form-control" placeholder="Username" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
  </body>
</html>
{% endblock %}