{% extends "admin/templates/base.html" %}

{% block content %}
    <h1>User Info</h1>
<table class="table">
    <tr>
        <th scope="col">id</th>
        <th scope="col">user</th>
        <th scope="col">created</th>
      </tr>
    <tr>
      <td scope="row">{{user['id']}}</td>
      <td>{{user['username']}}</td>
      <td>{{user['created']}}</td>
    </tr>
 </table>
   <form action="/delete-user" method = "post" >
     <button class="btn btn-warning" type="submit" name="username" value="{{user['username']}}">
     Delete User and Lists
     </button>
     </form>
   {{message}}  
<br>
<br>
<br>
<br>
<a type="button" class="btn btn-primary" href="/users">Back</a>
{% endblock %}
