{% extends "admin/templates/base.html" %}

{% block content %}
      <h1>List of users</h1>
<div class="container mb-3 mt-3">
<table class="table table-striped table-bordered mydatatable" style="width:100%">
    <thead>
    <tr>
        <th>user</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
      <td>
    <form action="/user-page" method = "post" class="inline">
    <input type="hidden">
     <button type="submit" name="username" value="{{user['username']}}" class="link-button">
    {{user['username']}}
     </button>
     </form>
      </td>
    </tr>
     {% endfor %}   
    </tbody>
    <tfoot>
        <tr>
        <th>user</th>
    </tr>
    </tfoot>
</table>
</div>
<br>
<a class="button" href="/admin">Back</a>
{% endblock %}
