{% extends "base.html" %}

{% block content %}

<h2>Create New List or Add New Task</h2>
<p>Enter a new list and task or simply add a new task to an existing list (list name must match the name on your dashboard)</p>
<form action="/create" method = "post">
    <input placeholder="List Name" name="title" type="text">
    <input placeholder="Task Name" name="content" type="text">
    <input type="submit">  
<p>{{ message }}</p> 
<div class="footer-back">
    <a class="button" href="/dashboard">Return to dashboard</a>
</div>
{% endblock %}