{% extends "base.html" %}

{% block content %}

<h2>Edit List</h2>
<p>Select list title from the drop down that you wish to change</p>
<form action="/edit-title" method = "post">
    <select id="select1" name="title" required>
    {% for list, items in lists.items() %}
     <option value="{{ list }}">{{ list }}</option>>
    {% endfor %}
    </select>
    <br>
    <input id="text1" placeholder="New List Name" name="new_title" type="text">
    <br>
    <input type="submit">
<p>{{ message }}</p> 
<div class="footer-back">
    <a class="button" href="/dashboard">Return to dashboard</a>
</div>
{% endblock %}