{% extends "public/templates/base.html" %}

{% block content %}

<h2>Add New Task</h2>
<p>Select List you wish to add a task to:</p>
<form action="/add-task" method = "post" class="pure-form">
    List:
    <select id="select2" name="title" required>
    {% for list, items in lists.items() %}
     <option value="{{ list }}">{{ list }}</option>>
    {% endfor %}
    </select>
    <br>
    <br>
    Task:
    <input class="pure-input-rounded" placeholder="New Task" name="content" type="text">
    <br>
    <br>
    Due by:
    <input class="pure-input-rounded" name="due_by" type="date">
    <br>
    <br>
    <input type="submit" class="pure-button">
<p>{{ message }}</p> 
<br>
<br>
<a class="pure-button pure-button-primary" href="/">Return to dashboard</a>
{% endblock %}