{% extends "public/templates/base.html" %}

{% block content %}

<h2>Create New List</h2>
<p><strong>ALL FIELDS REQUIRED</strong></p>
<form action="/create" method = "post" class="pure-form">
    <input class="pure-input-rounded" placeholder="List Name" name="title" type="text">
    <br>
    <br>
    <input class="pure-input-rounded" placeholder="Task Name" name="content" type="text">
    <br>
    <br>
    Due by: <br><br>
    <input class="pure-input-rounded" name="due_by" type="date">
    <br>
    <br>
    <input type="submit" class="pure-button">  
<p>{{ message }}</p> 
    <a class="pure-button pure-button-primary" href="/">Return to dashboard</a>
{% endblock %}