{% extends "public/templates/base.html" %}

{% block content %}

<h1 style="font-weight: bolder">Dashboard</h1>
<p>Lists with no tasks associated to them will not be displayed - Add a task to the list <a href="/create">here. </p>
<div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item pure-menu-selected">
            <a href="#" class="pure-menu-link">Menu</a>
        </li>
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a href="#" id="menuLink1" class="pure-menu-link">Create</a>
            <ul class="pure-menu-children">
                <li class="pure-menu-item">
                    <a href="/create" class="pure-menu-link">Add New</a>
                </li>
            </ul>
        </li>
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a href="#" id="menuLink1" class="pure-menu-link">Edit</a>
            <ul class="pure-menu-children">
                <li class="pure-menu-item">
                    <a href="/edit-title" class="pure-menu-link">Edit Title</a>
                </li>
                <li class="pure-menu-item">
                    <a href="/edit-task" class="pure-menu-link">Edit Task</a>
                </li>
            </ul>
        </li>
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a href="#" id="menuLink1" class="pure-menu-link">Delete</a>
            <ul class="pure-menu-children">
                <li class="pure-menu-item">
                    <a href="/delete" class="pure-menu-link">Delete List</a>
                </li>
                <li class="pure-menu-item">
                    <a href="/delete-task" class="pure-menu-link">Delete Task</a>
                </li>
            </ul>
        </li>        
    </ul>
</div>
<br>
<br>
    {% for list, items in lists.items() %}
        <div class="card" style="width: 20rem; margin-bottom: 25px;">
            <div class="card-header">
                <h3>{{ list }}</h3>
            </div>
            <ul class="list-group list-group-flush">
                {% for item in items %}
                    <li class="list-group-item"
                    {% if item['done'] %}
                    style="text-decoration: line-through;"
                    {% endif %}
                    >{{ item['content'] }}
                    {% if not item ['done'] %}
                        {% set URL = 'done' %}
                    {% else %}
                        {% set URL = 'undone' %}
                    {% endif %}

                    <br>
                    <br>

                    <div class="row">
                        <div class="col-12 col-md-3">
                            <form action="{{ url_for(URL)}}" method="POST" class="inline">
                            <input type="hidden">
                                <button type="submit" value="{{item['id']}}" name="id" class="btn btn-success btn-sm">
                                Done
                                </button>
                                <strong>Due:</strong> {{ item['due_by'] }}
                            </form>
                        </div>
                    </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}


<br>
<a class="pure-button pure-button-primary" href="/logout">Logout</a>
{% endblock %}
