{% extends "public/templates/base.html" %}

{% block content %}

<h1>Dashboard</h1>
<p>Lists with no tasks associated to them will not be displayed - Add a task to the list <a href="/create">here. </p>
<!-- Menu Horizontal -->
<ul class="menu">
<li><a href=""><i class="fa fa-inbox"></i> Create</a>
	<ul>
	<li><a href="/create"><i class="fa fa-cog"></i> Add New</a></li>
	</li>
	</ul>
</li>
<li><a href=""><i class="fa fa-inbox"></i> Edit</a>
	<ul>
	<li><a href="/edit-title"><i class="fa fa-cog"></i> Edit Title</a></li>
    <li><a href="/edit-task"><i class="fa fa-cog"></i> Edit Task</a></li>
	</li>
	</ul>
</li>
<li><a href=""><i class="fa fa-inbox"></i> Delete</a>
	<ul>
	<li><a href="/delete"><i class="fa fa-cog"></i> Delete List</a></li>
    <li><a href="/delete-task"><i class="fa fa-cog"></i> Delete Task</a></li>
	</li>
	</ul>
</li>
</ul>
<br>
<br>
    {% for list, items in lists.items() %}
    <div class="card" style="width: 18rem; margin-bottom: 50px;">
        <div class="card-header">
        <h3 style="font-weight: bold">{{ list }} </h3>
        </div>
            <ul class="list-group list-group-flush">
                {% for item in items %}
                    <li class="list-group-item">{{ item['content'] }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
<br>
<br>
<a class="button" href="/logout">Logout</a>
{% endblock %}


