{% extends "public/templates/base.html" %}

{% block content %}

<h2>Delete Task</h2>
<p>Select list and task from the drop downs that you wish to delete</p>
<p>Task must be associated to the correct list for delete to work</p>
<form action="/delete-task" method = "post">
    <select id="select1" name="title" required>
    {% for list, items in lists.items() %}
     <option value="{{ list }}">{{ list }}</option>>
    {% endfor %}
    </select>
    <br>
    <select id="select1" name="content" required>
    {% for list, items in lists.items() %}
    {% for item in items %}
     <option value="{{ item['content'] }}">{{ item['content'] }}</option>>
    {% endfor %}
    {% endfor %}
    </select>
    <br>
    <input type="submit">  
<p>{{ message }}</p> 
<br>
<br>
<div class="footer-back">
    <a class="button" href="/">Return to dashboard</a>
</div>
{% endblock %}