{% extends "public/templates/base.html" %}

{% block content %}

<h2>Delete List</h2>
<p>List name must match name on your dashboard</p>
<form action="/delete" method = "post" class="pure-form">
    <select id="select1" name="title" required>
    {% for list, items in lists.items() %}
     <option class="pure-input-rounded" value="{{ list }}">{{ list }}</option>>
    {% endfor %}
    </select>
    <br>
    <br>
    <input type="submit" class="pure-button">  
<p>{{ message }}</p> 
<br>
<br>
<a class="pure-button pure-button-primary" href="/">Return to dashboard</a>
{% endblock %}
