{% extends "public/templates/base.html" %}

{% block content %}

<h2>Delete Task</h2>
<p>Select list and task you wish to delete:</p>
<p><em>Please note the task must be associated to the correct list for the delete to work</em></p>
<form action="/delete-task" method = "post" class="pure-form">
    List:
    <select id="select1" name="title" required>
    {% for list, items in lists.items() %}
     <option class="pure-input-rounded" value="{{ list }}">{{ list }}</option>>
    {% endfor %}
    </select>
    <br>
    <br>
    Task:
    <select id="select1" name="content" required>
    {% for list, items in lists.items() %}
    {% for item in items %}
     <option value="{{ item['content'] }}">{{ item['content'] }}</option>>
    {% endfor %}
    {% endfor %}
    </select>
    <br>
    <br>
    <input type="submit" class="pure-button">  
<p>{{ message }}</p> 
<br>
<br>
<a class="pure-button pure-button-primary" href="/">Return to dashboard</a>
{% endblock %}