{% extends "public/templates/base.html" %}

{% block content %}

<h2>Edit Task</h2>
<p>Select task and enter new task content:</p>
<form action="/edit-task" method = "post" class="pure-form">
    Task:
    <select id="select1" name="content" required>
    {% for list, items in lists.items() %}
    {% for item in items %}
     <option value="{{ item['content'] }}">{{ item['content'] }}</option>
    {% endfor %}
    {% endfor %}
    </select>
    <br>
    <br>
    New Task:
    <input class="pure-input-rounded" placeholder="New Task Content" name="new_content" type="text">
      <br>
      <br>
    <input type="submit" class="pure-button">  
<p>{{ message }}</p> 
<br>
<br>
<a class="pure-button pure-button-primary" href="/">Return to dashboard</a>
{% endblock %}