{% extends "public/templates/base.html" %}

{% block content %}

<h2>Edit Task</h2>
<p>Select task from the drop down that you wish to change</p>
<form action="/edit-task" method = "post">
    <select id="select1" name="content" required>
    {% for list, items in lists.items() %}
    {% for item in items %}
     <option value="{{ item['content'] }}">{{ item['content'] }}</option>>
    {% endfor %}
    {% endfor %}
    </select>
    <br>
    <input placeholder="New Task Name" name="new_content" type="text">
      <br>
    <input type="submit">  
<p>{{ message }}</p> 
<br>
<br>
<div class="footer-back">
    <a class="button" href="/">Return to dashboard</a>
</div>
{% endblock %}