{% extends "public/templates/base.html" %}

{% block content %}

<h2>Edit Due By</h2>
<p>Select task and enter a new due by date:</p>
<form action="/edit-dueby" method = "post" class="pure-form">
    Task:
    <select id="select1" name="content" required>
    {% for list, items in lists.items() %}
    {% for item in items %}
     <option value="{{ item['content'] }}">{{ item['content'] }}</option>
    {% endfor %}
    {% endfor %}
    </select>
    <br>
    <br>
    Due by:
    <input class="pure-input-rounded" name="due_by" type="date">
    <br>
    <br>
    <input type="submit" class="pure-button">  
<p>{{ message }}</p> 
<br>
<br>
<a class="pure-button pure-button-primary" href="/">Return to dashboard</a>
{% endblock %}