{% extends "public/templates/base.html" %}

{% block content %}
    <h1>Timmyb Does To Do's </h1>
    <p> {{ message }} </p>
    <a class="pure-button pure-button-primary" href="/signup">Signup Here</a>
    <br>
    <br>
<form class="pure-form" action="/login" method = "post">
    <input class="pure-input-rounded" placeholder="username" name="username" type="text">
    <input class="pure-input-rounded" placeholder="Password" name="password" type="password">
    <button type="submit" class="pure-button">submit</button>
</form>
{% endblock %}


